html{
	
	scroll-behavior: smooth;
}

body{
	background-color: #e0e0e0;
	overflow-x: hidden;
}


/* Navigation Bar */
header{
	position: fixed;
	background-color: #e0e0e0;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: 1s;
} 
.translate{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
}
.nearby_btn{
	background-color: #28343E;
	color: #fff;
	width: 100px;
	height: 40px;
	border: 0;
	border-radius: 50px;
	transition: 0.5s;
}
.nearby_btn:hover{
	border: 2px solid #28343E;
	background-color: saddlebrown;
	color: #fff;
}
.height{
	padding: 14px !important;
	font-size: 1.1rem;
}
.active{
	font-weight: 600;
}
.navbar-brand{
	font-size: 1.4rem;
}
hr{
	margin: 0;
}
.tt{
	font-size: 1.2rem;
}
.theight{
	padding-top: 17px;
}

.nearby_btn1{
	background-color: #28343E;
	color: #fff;
	width: 150px;
	height: 40px;
	border: 0;
	border-radius: 50px;
	transition: 0.5s;
}
.nearby_btn1:hover{
	border: 2px solid #28343E;
	background-color: saddlebrown;
	color: #fff;
}