html{
	
	scroll-behavior: smooth;
}

body{
	background-color: #e0e0e0;
	overflow-x: hidden;
}


/* Navigation Bar */
header{
	position: fixed;
	background-color: #e0e0e0;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: 1s;
} 
.translate{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
}
.nearby_btn{
	background-color: #28343E;
	color: #fff;
	width: 100px;
	height: 40px;
	border: 0;
	border-radius: 50px;
	transition: 0.5s;
}
.nearby_btn:hover{
	border: 2px solid #28343E;
	background-color: saddlebrown;
	color: #fff;
}
.height{
	padding: 14px !important;
	font-size: 1.1rem;
}
.active{
	font-weight: 600;
}
.navbar-brand{
	font-size: 1.4rem;
}
hr{
	margin: 0;
}
.tt{
	font-size: 1.2rem;
}
.theight{
	padding-top: 17px;
}

.nearby_btn1{
	background-color: #28343E;
	color: #fff;
	width: 150px;
	height: 40px;
	border: 0;
	border-radius: 50px;
	transition: 0.5s;
}
.nearby_btn1:hover{
	border: 2px solid #28343E;
	background-color: saddlebrown;
	color: #fff;
}
.searchnav{
    background-color: #2b3664;
    padding-top: 73px;
    height: 170px;
    text-align: center;
}
.searchnav .title{
    color: #fff;
    padding-top: 20px;
}
.searchnav .ttitle{
    color: #fff;
    padding-top: 33px;
    font-size: 1.5rem;
}
.books{
    padding: 40px 0;
    min-height: 334px;
    text-align: center;
}
.books .box{
    border: 2px solid #2b3664;
    border-radius: 20px;
    margin: 20px;
}
.books .bookname{
    margin: 10px 0;
}
.books .tbookname{
    margin: 10px 0;
    font-size: 1.2rem;
}
.books p{
    margin: 0;
}
.books hr{
    margin: 20px 0;
}
.books img{
    width: 250px;
}
.books .btn{
    width: 150px;
    border-radius: 50px;
    margin: 20px 0;
    border: 1px solid #2b3664;
    background-color: #2b3664;
    color: #fff;
}
.tauthor{
    font-size: 0.9rem;
}